# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
.venv/

# PyCharm
.idea/
*.iml

# Logs
*.log
logs/

# Dataset
data/

# Model weights
models/
*.pth

# Tensorboard
runs/

# OS
.DS_Store
Thumbs.db

# Storage
storage/
